.categories{
	background-color: rgb(180, 180, 180);
}

.categ__card-body{
	box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(0,0,0,0.22);
	transition: 0.5s ease-in-out;
	height: 20%;
	padding: 10%;
}
.card-title{
	padding-bottom: 3%;
}