#fullscreen {
	// margin: 0 auto;
	margin-top: -7%;
	width: 100%;
	height: 900px;
   position: relative;  
	display: flex; 
	align-items: center;
	 

}
.row_text{
  position: absolute;
  top: 2%;
  text-align: center;
  width: 100%;


}
a.rec{
  margin-right: 1%;
  text-transform: uppercase;
  font-size: calc(8px + 7 * (100vw / 1280));
  font-weight: 400;
  letter-spacing: 0.15rem;
  color: white;
  
}
span.btn{
  color: white;
  font-size: 18px;
  letter-spacing: 0.05em;
}

@media(max-width:767px){
  .row_text{
	  width: 90%;
	  top: 0%;
  }
  a.rec{
	  font-weight: 700;
	  letter-spacing: 0.05rem;
  }
  #fullscreen {
	  
	height: 90vh;
		margin: 0 auto;
		margin-top: -3%;
  }
}
.bg {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 90%;
	object-fit: cover;

	@media(max-width:767px){
	object-fit: none;
	object-position: 60% 70%;
	}
}

// .red{
//   text-align: center;
//   width: 100%;
//   color: whitesmoke;
//   font-weight: 500;
//   letter-spacing: 1px;

// }
.bg_cont{
  display: flex;
  width: 100%;
  left: 5%;
  align-items: flex-start;
  padding-left: 15%;
 
  
}
.bg_cont__text{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media(max-width:767px) {
  .bg {
		background-size: contain;
		background-position: 0% 50%;
 }
 #fullscreen {
	 padding-left: 0;
	 justify-content: center;
 }
 .bg_cont{
	 padding-left: 0%;
	 align-items: center;
	 justify-content: center;
 }
}
.bg_cont h1 {
	color:#ecf7f9;
	font-size: calc(32px + 60 * (100vw / 1280));
	font-weight: 700;
	letter-spacing: 3px;
	margin-bottom: 0;
	line-height: 1.1em;
	text-shadow: 1px 2px 2px #78d1d0;
}

.bg_cont p {
	color: #75e5ec;
	font-size: calc(22px + 11 * (100vw / 1280));
	font-weight: 400;
	margin-bottom: 30px;
	
  
}

