html {
	scroll-behavior: smooth;
}

html,
body {
	height: 100%;
	// font-family: arial;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #333;
	
}

.centered {
	text-align: center;
}
body {
	background-color: #fff !important;
}
ol.breadcrumb {
	list-style: none;
	display: flex;
	padding-left: 0px;
	background-color: #fff;
	padding-top: 0;

}
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
*:active, :hover, :focus {
	outline: 0;
	outline-offset: 0;
}
input[type="search"]::-webkit-search-decoration{
	border:none;
	background-image:none;
	background-color:transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	max-width: 100%;
	overflow: hidden;
	top: 0;
	left: 0;
}
.main {
	flex: 1 0 auto;
}
.container-fluid {
	width: 100%;
	margin: 0px auto;
	text-align: center;
}
.container {
	max-width: 1180px;
	// padding: 0px 15px;
	margin: 0px auto;
}
.content {
	padding-top: 120px;
}
a, a:visited,
a:hover{
	text-decoration: none;
	position: relative;
}
a, a:hover{
	text-decoration: none;
	
}
a.category__link:hover,
a.breadcrumb__link:hover{
	text-decoration: none;
}
// a:after{
// 	display: block;
// 	position: absolute;
// 	left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
// 	width: 0;/*задаём длинну линии до наведения курсора*/
// 	height: 2px; /*задаём ширину линии*/
// 	background-color: $blue; /*задаём цвет линии*/
// 	content: "";
// 	transition: width 0.3s ease-out; /*задаём время анимации*/
// }
// a:hover:after,
// a:focus:after{
// 	width: 100%;
// }
.content__text {
	font-size: 16px;
	line-height: 20px;
	position: absolute;
	margin-top: 15px;
}
.content__text p {
	margin-bottom: 20px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: rgb(204, 204, 204);
	font-size: 22px;
	opacity: 0;
	transition: all .8s ease-in-out;

}
.go__search{
	bottom: 105px;
	box-shadow: none;
}
.go__phone {
	bottom: 165px;
}
@media (max-width: 767px) {
	.content {
		padding: 80px 0px 0px 0px;
	}
	.gotop,
	.go__search,
	.go__phone {
		bottom: 10px;
		right: 10px;
		width: 40px;
		height: 40px;
		font-size: 18px;
		line-height: 30px;
		z-index: 100;
		padding-top: 5px;
	}
	.go__search{
		bottom: 60px;
	}
	.go__phone {
		bottom: 110px;
	}
}

	
	

i.fa.fa-phone,
i.fa.fa-arrow-up
{
	display:inline-block;
	vertical-align:middle;
	-webkit-transform:perspective(3px) translateZ(0);
	transform:perspective(1px) translateZ(0);
	box-shadow:0 0 1px rgba(0,0,0,0);
	-webkit-transition-duration:.3s;
	transition-duration:.3s;
	-webkit-transition-property:transform;
	transition-property:transform
}
i.fa.fa-phone:active,
i.fa.fa-phone:focus,
i.fa.fa-phone:hover{
		-webkit-transform:scale(1.5) rotate(4deg);
		transform:scale(1.5) rotate(4deg)
	}
i.fa.fa-arrow-up:hover{
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
	
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
	color: rgb(156, 156, 156);
}	
p{
	font-size:20px;
	color: rgb(184, 184, 184);
}
.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
	
img.ibg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	visibility: hidden;
}